.metalcalc{
    width: 150px;
}
          /* Bootstrap lg breakpoint */
  .sidebar-panel {
    position: sticky;
    top: 3rem;                        /* same offset you had */
    align-self: flex-start;
    z-index: 1;
  }
